.sidebarToggleButton.sidebarToggleButton {
  position: absolute;
  top: 50%;
  right: -14px;
  transform: translateY(-50%);
  z-index: 100;
  border: 1px solid var(--mantine-color-default-border);
  box-shadow: var(--mantine-shadow-sm);
}
